#slider
{
    overflow: hidden;
    

}
#slider figure{
    position: relative;
    width:500%;
    
    margin: 0;
    left: 0;
    animation: 20s slider infinite running;
}
#slider figure img{
    width:20%;
    float:left;
    height:50vh;
}
@keyframes slider{
    0%{
        left: 0;

    }
    15%{
        left:0;
    }
    20%{
        left:-100%;
    }
    35%{
        left:-100%;
    }
    40%{
       left:-200%;
    
    }
    55%{
        left:-200%;
    }
    60%{
        left:-300%;
    }
    75%{
        left:-300%;
    }
    80%{
        left:-400%;
    }
    100%{
        left:-400%;
    }
   
   
  
}